@charset "utf-8";

/*탑버튼서식*/
.top_btn{
    display: block;
    width: 40px; height: 40px;
    border-radius: 50%;
    border: 1px solid #333;
    background: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    box-shadow: 0px 0px 3px 1px gray;
    position: fixed; right: 5%; bottom: 25px;
}

/*컨트롤버튼서식*/
.ctrl_btn{
    /*position: absolute;
    right: 1.5%; top: 45%;*/
    z-index: 20;
    display: flex;
}
.ctrl_btn li{
    width: 15px; height: 15px;
    border: 2px solid #404040;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 10px;
    cursor: pointer;
}
.on{
    background: #404040 !important;
}

/*section 간격서식*/
section{padding: 100px 0px; box-sizing: border-box;}

/*슬라이드바*/
.slidebar_out{
    width: 1000px; height: 8px;
    border: 1px solid #E6E6E6;
    background: #E6E6E6;
    box-sizing: border-box;
    margin: 0px auto;
}
.slidebar_out > .slidebar_in{
    width: 800px; height: 6px;
    border: 1px solid #8E8E8E;
    background: #8E8E8E;;
    box-sizing: border-box;
}

/*좌우버튼*/
#l_btn, #r_btn{
    width: 30px; height: 73px;
    background: rgba(128,128,128,.4);
    color: #fff;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
}

/*네모버튼서식*/
.square_btn{
    display: inline-block;
    width: 200px; height: 50px;
    background: #7E9E90;
    color: #fff;
    text-align: center;
    font-family: 'Hind', serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 3px;
}

/*글자버튼서식*/
.word_btn{
    font-family: 'Hind', serif;
}


/*tablet서식(767~1400px)*/
@media screen and (min-width: 767px) and (max-width: 1400px){
    
    /*section 간격서식*/
    section{padding: 60px 0px; box-sizing: border-box;}

    /*슬라이드바*/
    .slidebar_out{width: 540px; height: 6px;}
    .slidebar_out > .slidebar_in{width: 412px; height: 4px;}

    /*네모버튼서식*/
    .square_btn{
        width: 159px; height: 40px;
        font-size: 16px;
        line-height: 40px;
    }

    /*글자버튼서식*/
    .word_btn{font-size: 15px;}
}

/*tablet서식(~767px)*/
@media screen and (max-width: 767px){
    
    /*컨트롤버튼서식*/
    .ctrl_btn li{
        width: 8px; height: 8px;
        border: 1px solid #404040;
        margin-right: 6px;
    }
    /*section 간격서식*/
    section{padding: 50px 0px 30px; box-sizing: border-box;}

    /*슬라이드바*/
    .slidebar_out{width: 273px; height: 6px;}
    .slidebar_out > .slidebar_in{width: 108px; height: 4px;}

    /*네모버튼서식*/
    .square_btn{
        width: 100px; height: 27px;
        font-size: 10px;
        line-height: 27px;
    }

    /*글자버튼서식*/
    .word_btn{font-size: 10px;}

}