@charset "utf-8";

/*pc서식*/
/*@media screen and (min-width: 1401px){*/

/*헤더서식*/
header{
    position:absolute; top:0px;
    width: 100%;
    z-index: 9999;
}
/*header-top*/
.h_top{
    height: 30px;
    border-bottom: 1px solid #ccc;
    background: #F7F3ED;
    position: relative;
}
.lnb{
    font-size: 14px;
    line-height: 30px;
    color: #777;
}
.lnb > ul{
    display: flex;
    position: absolute; right: 87px;
}
.lnb > ul > li{
    position: relative;
    padding: 0px 10px;
}
.lnb > ul > li:last-child{
    padding-right: 0px;
}
.lnb > ul > li > a::after{
    display: block;
    content: "";
    width: 1px;
    height: 15px;
    background: #777;
    position: absolute; right: 0px; top: 8px;
}
.lnb > ul > li:last-child > a::after{
    display: none;
}
#toggle{display: none;}
/*header-bottom*/
.h_bottom{
    width: 100%;
    height: 100px;
    background: rgba(255,255,255,.9);
    display: flex;
    position: relative;
    overflow: hidden;
}
.h_bottom::after{
    display: block;
    content: "";
    width: 100%;
    opacity: 0;
}
.h_bottom:hover::after{
    opacity: 1;
}
/*상단로고(h1)*/
.h_bottom > h1{
    z-index: 9999;
}
.h_bottom > h1 > a{
    line-height: 120px;
    position: absolute; left: 86px;
}
/*내비게이션(gnb)*/
.gnb{
    font-family: 'Hind', sans-serif;
    line-height: 32px;
    display: flex;
    position: absolute;
    background: #F7F3ED;
    padding: 41px 0px 27px;
    padding-left: 214px;
    width: 100%;
}
.gnb > .c_btn{
    display: none;
}
.gnb > ul{
    width: 470px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
}
.gnb > ul > li > a > i{display:none;}
/*서브메뉴(sub)*/
.sub{
    width: 152px;
    position: absolute; top: 130px;
    text-align: center;
    z-index: 9999;
}
.sub1{left: 302px;}
.sub2{left: 592px;}
.sub3{left: 901px;}
.sub4{left: 1215px;}
.sub5{left: 1488px;}
.sub > dt{
    font-size: 28px;
    margin-bottom: 30px;
}
.sub > dd{
    font-size: 18px;
    line-height: 38px;
}
/*검색,장바구니 아이콘*/
.icon{
    display: flex;
    position: absolute; right: 81px; top: 48px;
}
.icon > ul{
    width: 86px;
    display: flex;
    justify-content: space-between;
}
.icon > ul > li img{
    width: 30px;
}
.icon > .total_btn{
    display: none;
    font-size: 30px;
}


/*메인서식*/
main{
    padding-top:130px;
    width: 100%;
}
/*section1(배너슬라이드)*/
.sec_banner{
    /*width: 100%;*/
    padding: 0px;
}
.box_banner{
    position: relative;
    
}
.box_banner > div{
    /*width: 100%;*/
}
.box_banner > div > a > p{
    font-size: 24px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0px 0px 1px #ccc;
    position: absolute; top: 197px; left: 13%;
}
.black{
    font-weight: 500;
}
.box_banner > div img{
    /*width: 100%;*/
}
.img_banner1{z-index: 3;}
.img_banner2{z-index: 2; display: none;}
.img_banner3{z-index: 1; display: none;}

/*컨트롤버튼*/
.box_banner .ctrl_btn{
    position: absolute;
    left: 13%; bottom: 66px; /*부모의 높이값을 안주면 못찾아*/
}


/*section2(잘팔리는제품)*/
.sec_goes{
    background: #F7F3ED;
}
.sec_goes > .box_titgoes{
    text-align: center;
    padding-bottom: 49px;
}
.sec_goes > .box_titgoes > h3{
    padding-bottom: 20px;
}
.bigbox_goes{
    width: 1330px;
    margin: 0px auto; margin-bottom: 60px;
    display: flex;
    overflow: hidden;
}
.smallbox_goes{
    width: 300px; height: 445px;
    padding-right: 75px;
}
.smallbox_goes > .box_imggoes{
    width: 300px; height: 320px;
    overflow: hidden;
}
.smallbox_goes > .box_imggoes img{
    height: 100%;
    transform: translateX(-12px);
}
.smallbox_goes > .box_txtgoes{
    width: 300px; height: 125px;
    padding: 15px 15px 20px;
    box-sizing: border-box;
    position: relative;
}
.smallbox_goes > .box_txtgoes > h4{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.5px;
    line-height: 21px;
    margin-bottom: 8px;
}
.smallbox_goes > .box_txtgoes > .price{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 26px;
}
.smallbox_goes > .box_txtgoes > .price > .afterprice{
    font-size: 16px;
    font-weight: bold;
    color: #7E9E90
}
.smallbox_goes > .box_txtgoes > .price > .beforeprice{
    text-decoration: line-through;
}
.smallbox_goes > .box_txtgoes > .starpoint{
    font-size: 10px;
    position: absolute; left: 15px; bottom: 20px;
}
.smallbox_goes > .box_txtgoes > .numofreview{
    font-size: 10px;
    letter-spacing: 1px;
    position: absolute; right: 15px; bottom: 20px;
}


/*section3(맴버십)*/
.sec_membership{
    background: #F7F3ED;
}
.sec_membership > .box_titmembership{
    padding-bottom: 49px;
    text-align: center;
}
.sec_membership > .box_titmembership > h3{
    padding-bottom: 20px;
}
.box_membership{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    width: 1260px;
    overflow: hidden;
}
.box_membership > li{
    position: relative; /*부모기준*/
}
.box_membership > li > .box_imgmembership{
    width: 400px; height: 140px;
    padding-right: 30px;
}
.box_membership > li:last-child > .box_imgmembership{
    padding-right: 0px;
}
.box_membership > li > .box_imgmembership > a{
    position: absolute; /*자식움직여*/
    width: 400px;
    line-height: 140px;
    z-index: 9999;
}
.box_membership > li > .box_imgmembership > a > i{
    padding-left: 30px;
    font-style: normal;
}
.box_membership > li > .box_imgmembership img{
    width: 100%;
}
.box_membership > li:first-child > .box_imgmembership img{
    transform: translateY(-232px);
}
.box_membership > li:nth-child(2) > .box_imgmembership img{
    transform: translateY(-68px);
}
.box_membership > li:nth-child(3) > .box_imgmembership img{
    transform: translateY(-186px);
}
.box_membership > li:last-child > .box_imgmembership img{
    transform: translateY(-190px);
}


/*section4(우리이야기)*/
.sec_ourstory{
    background: #F7F3ED;
    padding-top: 0px; padding-bottom: 150px;
}
.backimg{
    width: 100%; height: 305px;
    background-image: url('../images/ourstory.PNG');
    background-attachment: fixed;
    position: absolute;
}
.sec_ourstory > h3{
    color: #fff;
    text-align: center;
    position: relative;
    padding: 75px 0px;
}
.box_ourstory{
    display: flex;
    justify-content: center;
    position: relative;
}
.box_ourstory > .box_txtourstory{
    display: block;
    width: 600px; height: 400px;
    background: #fff;
    padding: 48px 48px 70px;
    box-sizing: border-box;
}
.box_txtourstory >  .box_txtboxourstory{
    width: 504px; 
}
.box_txtourstory > .box_txtboxourstory > h4{
    margin: 26px 0px 47px;
}
.box_txtourstory > .box_txtboxourstory > p{
    font-size: 16px;
    color: #8E8E8E;
    line-height: 25px;
}


/*section5(소서)*/
.sec_soseo{
    height: 700px;
    background: #fff;
}
.sec_soseo > article{
    width: 1400px; margin: 0px auto;
    text-align: center;
    display: flex;
}
.sec_soseo > article  > .imgbox{
    width: 700px;
}
.sec_soseo > article .box_imgsoseo{
    float: right;
    width: 500px; height: 400px;    
    overflow: hidden;
}
.sec_soseo > article img{
    width: 100%;
    transform: translateY(-50px);
}
.box_soseo{
    width: 700px; height: 500px;
}
.box_soseo > h3{
    text-transform: uppercase;
}
.box_soseo > .box_txtsoseo{
    padding: 76px 0px;
    letter-spacing: 1px;
    line-height: 30px;
}
.box_btn{
    width: 430px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}


/*section6(에센셜)*/
.sec_essentials{
    background: #F7F3ED;
    padding: 0px;
    height: 700px;
}
.sec_essentials > article{
    width: 1400px; margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}
.sec_essentials > article > .box_imgessentials{
    width: 700px; height: 700px;
    overflow: hidden;    
}
.sec_essentials > article img{
    width: 100%;
    transform: translateY(-130px); /*object-fit*/
}
.box_essentials{
    width: 700px; height: 500px;
    padding: 100px 0px;
}
.box_essentials > h3{
    text-transform: uppercase;
}
.box_essentials > .box_txtessentials{
    padding: 47px 0px;
    letter-spacing: 1px;
    line-height: 30px;
}


/*section7(리뷰)*/
.sec_review{
    background: #F9F9F9;
}
.sec_review > article{
    width: 1400px; margin: 0px auto;
    display: flex; justify-content: space-between;
}
/*리뷰 왼쪽(위쪽)박스*/
.box_l_review{
    width: 333px; height: 450px;
    text-align: center;
    padding: 117px 0px 86px;
    box-sizing: border-box;
}
.box_l_review > h3{
    font-size: 28px;
    padding-bottom: 45px;
    line-height: 35px;
}
.box_l_review > p{
    padding-bottom: 75px;
    line-height: 29px;
    letter-spacing: 1px;
}
/*리뷰 오른쪽(아래쪽)박스*/
.box_r_review{
    width: 1050px; height: 450px;
    display: flex;
    flex-direction: column;
}
.box_r_review > .box_rt_review > .ctrl_btn{
    float: right;
}
.box_r_review > .box_rt_review > .ctrl_btn > li:last-child{
    margin-right: 85px;
}
.box_r_review > .box_rb_review{
    height: 419px;
    display: flex;
    margin-top: 15px;
    position: relative;
}
.box_rb_review > .move_btn{
    display: flex;
}
.box_rb_review > .move_btn > #l_btn{
    position: absolute;
    top: 174px; left: 15px;
}
.box_rb_review > .move_btn > #r_btn{
    position: absolute;
    top: 174px; right: 15px;
}
.box_rb_review > .bigbox_review{
    display: flex; justify-content: space-between;
    margin: 0px auto;
    width: 888px; height: 430px;
    overflow-x: hidden;
}
.box_rb_review > .bigbox_review > .smallbox_review{
    width: 280px; height: 422px;
    margin-right: 20px;
    box-shadow: 0px 3px 5px 0px;
}
.box_rb_review > .bigbox_review > .smallbox_review:first-child{
    margin-left: 4px;
}
.smallbox_review > .box_imgreview{
    width: 280px; height: 300px;
}
.smallbox_review > .box_imgreview img{
    width: 100%;
}
.smallbox_review > .box_txtreview{
    width: 280px; height: 120px;
    padding: 10px 15px;
    background: #fff;
    box-sizing: border-box;
    position: relative;
}
.smallbox_review > .box_txtreview > h4{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-bottom: 7px;
}
.smallbox_review > .box_txtreview > p{
    font-size: 12px;
    line-height: 17px;
    max-height: 34px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.smallbox_review > .box_txtreview > .membername{
    font-size: 10px;
    letter-spacing: 1px;
    color: #ccc;
    position: absolute; right: 15px; bottom: 10px;
}
/*https://www.codingfactory.net/10601
https://inpa.tistory.com/entry/CSS-%F0%9F%93%9A-float#clear_%EC%86%8D%EC%84%B1*/


/*section8(인스타)*/
.sec_insta{
    background: linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(247,243,237,1) 70%);
    padding: 130px 0px 150px;
}
.box_insta{
    width: 1360px; height: 650px;
    margin: 0px auto;
    position: relative;
}
/*인스타왼쪽(위쪽)박스*/
.box_l_insta{
    width: 650px; height: 600px;
    display: flex;
    position: absolute; left: 0px; top: 50px;
}
.box_l_insta > .box_minitit1insta{
    position: relative;
}
.box_l_insta > .box_minitit1insta > p{
    width: 332px;
    position: absolute; top: 141px; left: -141px;
    font-size: 28px;
    font-family: 'Hind', serif;
    line-height: 50px;
    letter-spacing: 1.5px;
    transform: rotate(-90deg);
}
.box_img1insta{
    width: 300px; height: 600px;
    overflow: hidden;
    position: relative; left: 50px;
}
.box_img1insta > img{
    height: 100%;
    transform: translateX(-332px);
}
.box_img1insta:last-child > img{
    height: 100%;
    transform: translateX(-102px);
}
/*인스타오른쪽(아래쪽)박스*/
.box_r_insta{
    width: 680px; height: 380px;
    display: flex; flex-wrap:wrap;
    position: absolute; right: 0px; top: 0px;
}
.box_r_insta > .box_minitit2insta{
    width: 680px;
}
.box_r_insta > .box_minitit2insta > p{
    font-size: 28px;
    font-family: 'Hind', serif;
    line-height: 50px;
    letter-spacing: 1.5px;
    float: right;
}
.box_img2insta{
    width: 340px; height: 340px;
    overflow: hidden;
}
.box_img2insta > img{
    width: 100%;
    transform: translateY(-87px);
}
.box_img2insta:last-child > img{
    width: 100%;
    transform: translateY(-43px);
}
/*sns아이콘*/
.box_sns{
    width: 242px; height: 100px;
    position: absolute; right: 20px; bottom: 55px;
    display: flex; flex-wrap: wrap;
}
.box_sns > p{
    font-size: 28px;
    font-family: 'Hind', serif;
    letter-spacing: 2.6px;
    margin-bottom: 35px;
}
.box_sns > .box_icon{
    margin-left: 38px;
}
.box_sns > .box_icon .fab{
    font-size: 35px;
    padding-left: 30px;
}


/*푸터서식*/
footer{
    width: 100%;
    background: #7E9E90;
    color: #fff;
}
footer h3{
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    line-height: 26px;
}
.box_footer{
    width: 1400px;
    margin: 0px auto;
    padding: 35px 0px;
}
.box_footer > h1{
    margin-left: 100px;
    display: block;
}
/*푸터탑*/
.f_top{
    border-bottom: 1px solid #fff;
    display: flex; justify-content: space-between;
    margin: 20px 0px 15px;
    padding-bottom: 15px;
    letter-spacing: 2px;
}
.f_top > .box_customer{
    margin-left: 100px;
}
.box_customer > p{
    font-size: 28px;
    line-height: 41px;
}
.box_customer > p:last-child{
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
}
.f_top > .box_etc{
    display: flex;
    margin-right: 100px;
}
.box_etc > .box_minititetc{
    margin-left: 50px;
}
.box_etc > .box_minititetc > div{
    margin-top: 10px;
}
.box_etc > .box_minititetc > div > p{
    font-size: 12px;
    line-height: 18px;
}
.box_etc > .box_minititetc > div > p > a{
    color: #fff;
}
/*푸터바텀*/
.f_bottom{
    margin-left: 100px; margin-right: 100px;
    font-size: 12px;
    letter-spacing: 2px;
}
.f_bottom > address{
    font-style: normal;
    line-height: 20px;
    margin-bottom: 20px;
}
.f_bottom > address > a{
    color: #fff;
}
/*}*/