@charset "utf-8";

/*tablet서식*/
@media screen and (min-width: 767px) and (max-width: 1400px){

    /*헤더서식*/
    /*header-top*/
    .lnb > ul{
        right: 24px;
    }
    /*header-bottom*/
    .h_bottom{
        height: 80px !important; /**/
        background: #F7F3ED; /**/
    }
    /*상단로고(h1)*/
    .h_bottom > h1 > a{
        line-height: 100px;
        left: 45%;
    }
    /*내비게이션(gnb)*/
    .gnb{
        
    }
    /*검색,장바구니 아이콘*/
    .icon{
        left: 53px; top: 25px;
    }
    .icon > ul{
        width: 91px;
        flex-direction: row-reverse;
    }
    .icon > .total_btn{
        display: block;
        position: relative; left: 93%;
    }



    /*메인서식*/
    main{
        padding-top:110px;
        width: 100%;
    }
    /*section1(배너슬라이드)*/
    .box_banner > div > a > p{
        font-size: 18px;
        line-height: 26px;
        top: 130px; left: 10%;
    }
    .box_banner > div img{
        width: 100%;
    }
    /*컨트롤버튼*/
    .box_banner .ctrl_btn{
        left: 10%; bottom: 50px;
    }



    /*section2(잘팔리는제품)*/
    .sec_goes > .box_titgoes{
        padding-bottom: 40px;
    }
    .sec_goes > .box_titgoes > h3{
        padding-bottom: 10px;
    }
    .bigbox_goes{
        width: 767px;
        margin-bottom: 45px;
    }
    .smallbox_goes{
        width: 240px; height: 380px;
        padding-right: 20px;
    }
    .smallbox_goes > .box_imggoes{
        width: 240px; height: 260px;
    }
    .smallbox_goes > .box_txtgoes{
        width: 240px; height: 120px;
        padding: 15px 10px 10px;
    }
    .smallbox_goes > .box_txtgoes > h4{
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .smallbox_goes > .box_txtgoes > .price{
        font-size: 12px;
    }
    .smallbox_goes > .box_txtgoes > .price > .afterprice{
        font-size: 14px;
    }
    .smallbox_goes > .box_txtgoes > .starpoint{
        left: 10px; bottom: 10px;
    }
    .smallbox_goes > .box_txtgoes > .numofreview{
        right: 10px; bottom: 10px;
    }



    /*section3(맴버십)*/
    .sec_membership > .box_titmembership{
        padding-bottom: 40px;
    }
    .sec_membership > .box_titmembership > h3{
        padding-bottom: 10px;
    }
    .box_membership{
        width: 767px;
    }
    .box_membership > li > .box_imgmembership{
        width: 245px; height: 80px;
        padding-right: 17px;
    }
    .box_membership > li > .box_imgmembership > a{
        width: 245px;
        line-height: 80px;
        font-size: 14px;
    }
    .box_membership > li > .box_imgmembership > a > i{
        padding-left: 20px;
    }
    .box_membership > li:first-child > .box_imgmembership img{
        transform: translateY(-150px);
    }
    .box_membership > li:nth-child(2) > .box_imgmembership img{
        transform: translateY(-55px);
    }
    .box_membership > li:nth-child(3) > .box_imgmembership img{
        transform: translateY(-130px);
    }
    .box_membership > li:last-child > .box_imgmembership img{
        transform: translateY(-158px);
    }



    /*section4(우리이야기)*/
    .sec_ourstory{
        padding-bottom: 60px;
    }
    .backimg{
        height: 188px;
    }
    .sec_ourstory > h3{
        padding: 50px 0px;
    }
    .box_ourstory > li > img{
        width: 380px; height: 250px;
    }
    .box_ourstory > .box_txtourstory{
        width: 380px; height: 250px;
        padding: 32px;
    }
    .box_txtourstory >  .box_txtboxourstory{
        width: 316px; 
    }
    .box_txtourstory >  .box_txtboxourstory > img{
        width: 50px;
    }
    .box_txtourstory > .box_txtboxourstory > h4{
        font-size: 14px;
        margin: 20px 0px;
    }
    .box_txtourstory > .box_txtboxourstory > p{
        font-size: 12px;
        line-height: 17px;
    }



    /*section5(소서)*/
    .sec_soseo{
        height: 397px;
    }
    .sec_soseo > article{
        width: 834px;
    }
    .sec_soseo > article  > .imgbox{
        width: 417px;
    }
    .sec_soseo > article .box_imgsoseo{
        width: 330px; height: 264px;    
    }
    .sec_soseo > article img{
        transform: translateY(-33px);
    }
    .box_soseo{
        width: 417px; height: 277px;
    }
    .box_soseo > .box_txtsoseo{
        padding: 28px 0px;
        line-height: 17px;
        font-size: 12px;
    }
    .box_btn{
        width: 340px;
    }



    /*section6(에센셜)*/
    .sec_essentials{
        height: 417px;
    }
    .sec_essentials > article{
        width: 834px;
    }
    .sec_essentials > article > .box_imgessentials{
        width: 417px; height: 417px;
    }
    .sec_essentials > article img{
        transform: translateY(-93px);
    }
    .box_essentials{
        width: 417px; height: 297px;
        padding: 60px 0px;
    }
    .box_essentials > .box_txtessentials{
        padding: 21px 0px;
        line-height: 17px;
        font-size: 12px;
    }



    /*section7(리뷰)*/
    .sec_review > article{
        width: 767px;
        flex-direction: column;
    }
    /*리뷰 왼쪽(위쪽)박스*/
    .box_l_review{
        width: 767px; height: 102px;
        padding: 0px;
    }
    .box_l_review > h3{
        padding-bottom: 10px;
    }
    .box_l_review > p{
        display: none;
    }
    /*리뷰 오른쪽(아래쪽)박스*/
    .box_r_review{
        width: 767px; height: 377px;
    }
    .box_r_review > .box_rt_review > .ctrl_btn > li:last-child{
        margin-right: 39px;
    }
    .box_r_review > .box_rb_review{
        height: 377px;
    }
    .box_rb_review > .move_btn > #l_btn{
        top: 137px; left: 1px;
    }
    .box_rb_review > .move_btn > #r_btn{
        top: 137px; right: 1px;
    }
    .box_rb_review > .bigbox_review{
        width: 700px; height: 355px;
    }
    .box_rb_review > .bigbox_review > .smallbox_review{
        width: 220px; height: 347px;
        margin-right: 15px;
    }
    .box_rb_review > .bigbox_review > .smallbox_review:first-child{
        margin-left: 5px;
    }
    .smallbox_review > .box_imgreview{
        width: 220px; height: 240px;
    }
    .smallbox_review > .box_txtreview{
        width: 220px; height: 107px;
        padding: 8px 11px;
    }
    .smallbox_review > .box_txtreview > h4{
        font-size: 12px;
        line-height: 17.9px;
    }
    .smallbox_review > .box_txtreview > p{
        font-size: 10px;
        line-height: 15px;
        max-height: 30px;
    }
    .smallbox_review > .box_txtreview > .membername{
        font-size: 10px;
        right: 11px; bottom: 8px;
    }



    /*section8(인스타)*/
    .sec_insta{
        padding: 80px 0px 60px;
    }
    .box_insta{
        width: 834px; height: 1070px;
    }
    /*인스타왼쪽(위쪽)박스*/
    .box_l_insta{
        width: 500px; height: 500px;
        left:inherit;
        right: 0px; top: 0px;
    }
    .box_l_insta > .box_minitit1insta > p{
        width: 270px;
        top: 116px; left: -152px;
        font-size: 22px;
        line-height: 35px;
    }
    .box_img1insta{
        width: 250px; height: 500px;
        left: 0px;
    }
    /*인스타오른쪽(아래쪽)박스*/
    .box_r_insta{
        width: 680px; height: 315px;
        left: 0px; top: 595px;
    }
    .box_r_insta > .box_minitit2insta{
        width: 560px;
    }
    .box_r_insta > .box_minitit2insta > p{
        font-size: 22px;
        line-height: 35px;
    }
    .box_img2insta{
        width: 280px; height: 280px;
    }
    /*sns아이콘*/
    .box_sns{
        width: 190px; height: 80px;
        right: initial;
        left: 40%; top: 990px;
    }
    .box_sns > p{
        font-size: 22px;
        letter-spacing: 2px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .box_sns > .box_icon{
        margin-left: 0px;
    }
    .box_sns > .box_icon .fab{
        font-size: 25px;
        padding-left: 26px;
    }



    /*푸터서식*/
    .box_footer{
        width: 834px;
        padding: 35px 0px;
    }
    .box_footer > h1{
        margin-left: 34px;
    }
    /*푸터탑*/
    .f_top{
        margin: 20px 0px;
        padding-bottom: 20px;
    }
    .f_top > .box_customer{
        margin-left: 34px;
    }
    .box_customer > p:last-child{
        margin-top: 4px;
    }
    .f_top > .box_etc{
        margin-right: 34px;
    }
    .box_etc > .box_minititetc{
        margin-left: 26px;
    }
    .box_etc > .box_minititetc:nth-child(2) > div > p:nth-child(3){
        width: 123px;
    }
    .box_etc > .box_minititetc:last-child > div > p:last-child{
        width: 105px;
    }
    /*푸터바텀*/
    .f_bottom{
        margin-left: 34px; margin-right: 34px;
    }
}